:root {
  --color-black:#353535;
  --color-black-dark:#252525;
  --color-grey:#718792;
  --color-grey-2:#91a7b2;
  --color-grey-light:#B0BEC5;
  --color-grey-light-2:#C5CED9;
  --color-red:#c62828;
  --color-red-light:#d65858; }
