.now, .result{
  float:left;
  border:2px solid red;
  padding:2px;
}
.foodGroup{
  padding:10px;


}

.ingredient{
  border: 2px solid transparent;
  border-radius: 20px;
  margin:5px;
  padding:5px 10px;
  outline:none;
  cursor:pointer;
}

.btnActive{
    border: 2px solid black;
}

.vegetable{
  background-color: lightgreen;
}

.meat{
  background-color: saddlebrown;
}
